{% extends '_base.html' %}
{% block title %} Profile Page {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-7">
                <table>
                    <tr>
                        <th>Username : {{ profile.user.username }}</th>
                    </tr>
                    <tr>
                        <th>Fname : {{ profile.user.first_name }}</th>
                    </tr>
                    <tr>
                        <th>Lname : {{ profile.user.last_name }}</th>
                    </tr>
                    <tr>
                        <th>email : {{ profile.user.email }}</th>
                    </tr>
                    <tr>
                        <th>Phone : {{ profile.phone }}</th>
                    </tr>
                    <tr>
                        <th>Address : {{ profile.address }}</th>
                    </tr>
                </table>

                <a href="{% url 'accounts:update' %}">Update</a>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="{% url 'accounts:change' %}">Change Password</a>
            </div>


            <div class="col-5">
                <img src="{{ profile.profile_image.url }}" width="300" alt="{{ profile.user.username }}">
            </div>
        </div>
    </div>

{% endblock %}